
:root {
  --primary-color: #ffffff;
  --secondary-color: #00A9FF; /* Updated to blue */
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --on-primary: #000000;
  --on-surface: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--on-surface);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 60vh;
  padding: 4rem 2rem;
  background-image: linear-gradient(rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 1)), url('./public/1.jpg');
  background-size: cover;
  background-position: center;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.hero-text p {
  font-size: 1.25rem;
  max-width: 600px;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.8);
}

.button-container {
  display: flex;
  flex-direction: column; /* Align buttons vertically */
  align-items: center; /* Center buttons horizontally */
  gap: 1.5rem;
}

.button {
  text-decoration: none;
  color: var(--on-primary);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid var(--secondary-color);
  width: 150px; /* Set a fixed width for the buttons */
}

.button:hover {
  transform: translateY(-5px);
}

.button.vr-tour {
  background-color: var(--secondary-color);
  color: var(--on-primary);
  box-shadow: 0 0 20px rgba(0, 169, 255, 0.5);
}

.button.vr-tour:hover {
  box-shadow: 0 0 30px rgba(0, 169, 255, 0.8), 0 0 40px rgba(0, 169, 255, 0.6);
}

.button.edit-button {
  background-color: transparent;
  color: var(--secondary-color);
  box-shadow: 0 0 15px rgba(0, 169, 255, 0.4);
}

.button.edit-button:hover {
  box-shadow: 0 0 25px rgba(0, 169, 255, 0.8), 0 0 35px rgba(0, 169, 255, 0.6);
  background-color: var(--secondary-color);
  color: var(--on-primary);
}


.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
}

feature-card {
  background-color: var(--surface-color);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  display: block;
  border: 2px solid transparent;
}

feature-card:hover {
  transform: translateY(-5px);
  border-color: var(--secondary-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 169, 255, 0.5);
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--surface-color);
}
